@charset "utf-8";
/* Toca do Acai */
* { border:0; padding:0; margin:0; text-indent:0; list-style:none; }
body { background:url(../img/bg_body.jpg); text-align:center; margin: 0 auto; font:0.8em Arial, sans-serif; color:#000; }
h1, h2 {font-family:Georgia, serif; font-weight:normal; font-size:30px; font-style:italic;}
.display { display:none}
a { text-decoration:none}
a:hover { text-decoration:underline}

/* -- Estrutura --*/
.wrap { width:100%; margin:0 auto; text-align:left;}
.content_header { background:url(../img/header1.jpg) top no-repeat;}
.header { width:880px; height:257px; margin:0 auto}
.content { background:url(../img/bg_content_color.jpg); width:880px; padding:0 5px 20px 15px ; overflow:auto; margin:0 auto; clear:both}
.content_general { background:url(../img/bg_content1.jpg) top no-repeat; margin:0 auto}

/* -- Header --*/
.header h2 { float:left; margin:5px 0 0 0}
.header h2 a { display:block; background:url(../img/toca-do-acai.png); text-indent:-9999px; font-size:1px; width:192px; height:118px;}


/* -- navigation -- */
.nav {}
.nav ul { background: url(../img/bg_menu.jpg) no-repeat; height:71px; width: 774px; float:left; margin:20px 0 0 0}
.nav li { display:inline;}
.nav a { text-indent:-9999px; display:block; float:left; margin:22px 20px 0 0}

/* sprites */
.link_home a { background:url(../img/menu_sprites.png) no-repeat; width:38px; height:14px; margin-left:25px; _margin-left:15px}
.link_deliver a { background:url(../img/menu_sprites.png) 0 -16px no-repeat; width:100px; height:16px}
.link_cardapio a { background:url(../img/menu_sprites.png) 0 -32px no-repeat; width:127px; height:16px}
.link_lojas a { background:url(../img/menu_sprites.png) 0 -48px no-repeat; width:34px; height:16px}
.link_franq a { background:url(../img/menu_sprites.png) 0 -64px no-repeat; width:164px; height:16px}
.link_somos a { background:url(../img/menu_sprites.png) 0 -80px no-repeat; width:85px; height:16px}
.link_contato a { background:url(../img/menu_sprites.png) 0 -96px no-repeat; width:51px; height:16px; margin-right:0}

.link_home a:hover { background:url(../img/sprites_hover.png) no-repeat; width:69px; height:32px; margin: 14px 8px 0 8px}
.link_deliver a:hover { background:url(../img/sprites_hover.png) no-repeat 0 -37px; width:129px; height:37px; margin: 12px 5px 0 -15px }
.link_cardapio a:hover { background:url(../img/sprites_hover.png) no-repeat 0 -79px; width:161px; height:42px; margin: 12px 3px 0 -15px }
.link_lojas a:hover {background:url(../img/sprites_hover.png) no-repeat 0 -116px; width:63px; height:37px; margin: 6px 8px 0 -15px}
.link_franq a:hover { background:url(../img/sprites_hover.png) no-repeat 0 -158px; width:188px; height:42px; margin: 6px 7px 0 -15px}
.link_somos a:hover { background:url(../img/sprites_hover.png) no-repeat 0 -197px; width:111px; height:39px; margin:6px 7px 0 -15px}
.link_contato a:hover { background:url(../img/sprites_hover.png) no-repeat 0 -236px; width:71px; height:39px; margin: 5px 5px 0 -15px}


/* -- Login -- */
.delivery { float:right; width:430px }
.delivery legend, .delivery label { display:none}
.delivery fieldset { padding:33px 150px 0 0 }
.delivery .textfield { background:transparent; width:119px; height:15px; padding:5px 2px 2px; color:#f9d260; font-family:Georgia, serif}
.delivery .button { background:url(../img/bt_ok.jpg); font-size:1px; text-indent:-9999px; width:25px; height:24px; float:right; *margin-top:-25px; /* hack ie 6e7 */ cursor:pointer}
.delivery p { font-size:10px; font-weight:bold; color:#bf9563; padding-top:13px; text-align:center}
.delivery a { color:#d5d07a}


/* -- Destaques --*/
.destaques { background:url(../img/bg_destaque.jpg) repeat-x left 50px; width:843px; height:294px; margin-top:15px }
.destaques .box { float:left; margin:0 2px 0 8px; _margin:0 2px 0 5px; }
.destaques .box h1 { font-family:Georgia, serif; font-size:14px; font-style:italic; font-weight:normal}
.destaques .box h1 span { display:block; padding-top:30px; text-align:center }
.destaques .box .titulo1 { background:url(../img/sprites_titulo.png); width:232px; height:77px; z-index:1; position:relative; margin:0 0 -18px 10px}
.destaques .box .titulo2 { background:url(../img/sprites_titulo.png) 0 -77px; width:207px; height:70px; z-index:1; position:relative; margin:0 0 -10px 15px}
.destaques .box .titulo3 { background:url(../img/sprites_titulo.png) 0 -145px; width:203px; height:70px; z-index:1; position:relative; margin:3px 0 -13px 20px}

/* -- News -- */
.news { width:555px; margin-top:15px; float:left}
.news h2 { font-family:Georgia, serif; font-weight:normal; font-size:30px; font-style:italic; color:#C9791E}
.news .news_box { border-right:dotted 1px #635d27; margin-top:4px}
.news .titulo_news { background:#170815; height:29px; padding:0 0 0 15px}
.news .news_box dl { padding:13px 0 8px 15px}
.news .news_box dt { color:#CD9324; font-weight:bold; font-size:13px}
.news .news_box dd { color:#635d27}

/* -- Twitter -- */
.twitter { width:280px; margin-top:15px; float:left; margin-left:7px}
.twitter h2 { color:#FFF}
.twitter .titulo_twitter { background:#081e25; height:29px; padding:0 0 0 10px}
.twitter ul { padding:15px 0 0 10px}
.twitter li { padding-bottom:15px; color:#635d27}
.twitter li a { color:#669b01}
.twitter .icon_twitter { float:right; display:inline; margin:-14px 0 0 110px; position:absolute}


/* ------------------ Paginas internas ----------------------*/
.titulo_quemsomos {color:#5d3b14;  background:url(../img/titulo_quemsomos.jpg) no-repeat; height:57px; padding:8px 25px}
.colun_right { width:500px; padding-right:15px; float:right}
.colun_right .titulo_colun_right {color:#dead02; font-style:italic; font-weight:bold; font-size:24px; background:#000; height:27px; margin-bottom:15px; padding:4px 0 2px 15px }
.colun_right .titulo_colun_right img { float:right; margin:-46px -9px 0 0; *margin-top:-76px; position:relative}
.colun_right p { padding:10px 0 0 15px }


.colun_left { width:310px; float:left; padding-left:15px;}
.colun_left .leia_tbm { background:url(../img/box_leiatbm.jpg) no-repeat; width:307px; height:220px;}
.colun_left .leia_tbm li { padding:20px 0 0 10px;}
.colun_left .leia_tbm li a { color:#dead02; text-decoration:none; font-weight:bold; font-size:17px; background-color:#140d01; padding:5px 8px}
.colun_left .leia_tbm li a:hover { color:#B1A063; background-color:#544017;}
.colun_left .box dl {margin-top:20px}
.colun_left .box dt { color:#af04c3; font-style:italic; font-weight:bold; font-size:18px; font-family:Georgia, serif; background:#000; height:24px; padding:5px 0 0 10px}
.colun_left .box dd { background:url(../img/bg_leiatbm.jpg) no-repeat; height:123px; padding:15px 60px 5px 15px}


/* -- Tooltips -- */
.tooltip {color:#211908;}
a.tooltip:hover {background:#ECE7BD; text-decoration:none;}
a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:300px;}
a.tooltip:hover span {display:inline; position:absolute; margin-left:-290px; background:#ECE7BD}


/* -- Forms -- */
.form_franq_interesse, .form_cadastro { float:left; margin-left:-30px; padding-top:50px;}
.form_franq_interesse li, .form_cadastro li { width:500px; overflow:auto;}
.form_franq_interesse label, .form_cadastro label { color:#211908; font-weight:bold; text-align:right; width:200px; display:block; padding-top:10px; margin-left:-51px; font-style:italic; position:relative;}
.form_franq_interesse .textfield, .form_cadastro .textfield { color:#FFF; font-weight:bold; background:url(../img/bg_input.jpg); width:335px; float:right; height:20px; padding:5px 2px; margin:-27px 0 10px 0; border:solid 2px #C2BA81}
.form_franq_interesse textarea, .form_cadastro textarea { color:#FFF; font-weight:bold; background:url(../img/bg_input.jpg); float:right; width:335px; height:130px; padding:5px 2px; margin:-25px 0 10px 0; border:solid 2px #C2BA81; overflow:auto}
.form_franq_interesse .button ,.form_cadastro .button { text-indent:-9999px; cursor:pointer; background:url(../img/enviar.jpg) no-repeat; float:right; width:119px; height:46px; padding-top:10px}
/*#form_final label { width:290px; margin-left:-185px;}
#form_final fieldset { position:relative}
*/.obs { color:#211908; font-weight:normal}
.radios { float:right!important; width:335px; margin:-30px 0 10px 0px; padding:0!important}
.radios li { float:left; width:117px; overflow:hidden}
.radios label { *margin-top:100px}
label.radio { color:#877f22; font-style:normal; margin:0!important; text-align:left!important; float:left; width:120px!important}


/* -- Cardapio interativo -- */
.banner500 { width:500px}
.cardapio_interativo .colun_right { width:577px; overflow:hidden; }
.cardapio_interativo .colun_right .nossas_delicias { float:left; width:577px; padding-top:20px}
.cardapio_interativo .colun_right .nossas_delicias li { display:inline; float:left; width:286px; height:240px; padding-right:2px}
.cardapio_interativo .titulo_conheca_delicias { background:url(../img/conheca_delicias.jpg); font-size:1px; text-indent:-9999px; width:368px; height:79px; margin-top:25px}
.cardapio_interativo .categorias { background:url(../img/categorias.jpg) no-repeat; width:256px; height:341px}
.cardapio_interativo .categorias ul, .delivery_online .categorias ul { padding-top:70px}
.cardapio_interativo .categorias li { padding:5px 0 5px 35px;}
.cardapio_interativo .categorias li a { color:#dead02; font-weight:bold; font-size:17px; background-color:#140d01; padding:4px 8px }
.cardapio_interativo .categorias li a:hover, .delivery_online .categorias li a:hover {color:#B1A063; background-color:#544017}


.cardapio_interativo .produtos {}
.cardapio_interativo .produtos li { background:#e3deae; width:148px; height:179px; padding-left:10px; margin:0 14px 14px 0; float:left }
.cardapio_interativo .produtos .img_produto { background:url(../img/bg_prod_cardapio.jpg) no-repeat; width:145px; height:112px; margin:10px 0  10px 0}
.cardapio_interativo .produtos .img_produto img { margin:20px 0 10px 15px; padding-bottom:5px }
.cardapio_interativo .produtos li a { font-family:Georgia, serif; font-weight:bold; font-style:italic; color:#211908; width:150px; display:block; }


.delivery_produtos .colun_right { width:520px}
.delivery_produtos .list_produtos { height:300px; padding:25px 0; border-bottom:1px dashed #b3a25d;}
.delivery_produtos .list_produtos li { background:#e3deae; width:148px; min-height:220px; padding-left:10px; margin:0 14px 14px 0; float:left }
.delivery_produtos .list_produtos .img_produto { background:url(../img/bg_prod_cardapio.jpg) no-repeat; width:145px; height:112px; margin:10px 0  10px 0}
.delivery_produtos .list_produtos .img_produto img { margin:20px 0 10px 15px; padding-bottom:5px}
.delivery_produtos .list_produtos li a { font-family:Georgia, serif; font-weight:bold; font-style:italic; color:#211908; width:140px; display:block; padding-bottom:10px}
.delivery_produtos .list_produtos li .price { display:block; width:140px; padding:10px 0; margin-top:10px; border-top:dashed 1px #b3a25d}
.delivery_produtos .list_produtos li .price span { font-weight:normal}
.delivery_produtos .list_produtos li .textfield { width:52px; height:18px; padding:2px; margin-right:10px; border:1px solid #918255}
a.add_badeja { color:transparent!important; text-indent:-9999px; display:block; background:url(../img/add_na_bandeja.jpg) no-repeat; width:129px; height:49px; margin-top:15px;}



/* -- Delivery online -- */
.delivery_online { }
.delivery_online .categorias { background:url(../img/bg_delivery.jpg) no-repeat; height:340px}
.delivery_online .categorias li { padding:3px 0 3px 35px;}
.delivery_online .categorias li a { color:#dead02; font-weight:bold; background-color:#140d01; padding:2px 4px }


.broadcamp { text-align:center; background:url(../img/bg_broadcamp.jpg) no-repeat; height:60px}
.broadcamp div { font-family:Georgia, serif; color:#FFF; padding-top:18px}
.broadcamp div a { color:#FFF;}

.bandeja_pedidos { background:url(../img/bandeja_pedidos.jpg); width:216px; height:212px}
.bandeja_pedidos strong { font-family:Georgia, serif; font-size:18px; display:block; padding:80px 0 0 35px}
.bandeja_pedidos ol { padding-top:20px}
.bandeja_pedidos ol li a {display:block; text-indent:-9999px; width:145px; margin:5px 0 0 40px;  height:40px}

.novo_endereco .colun_left { min-height:150px}
.novo_endereco .categorias { background:url(../img/delivery_online.jpg) no-repeat; width:315px; height:51px;}
.novo_endereco .todo_meio { float:left; margin-top:70px; width:800px; overflow:hidden}
.novo_endereco .todo_meio h3 { font-size:24px; font-family:Georgia, serif; color:#211908; font-style:italic; font-weight:bold }
.novo_endereco .todo_meio h3 span { color:#a8b523; font-size:36px; text-decoration:underline}
.novo_endereco .todo_meio .sim_nao { width:790px; padding-left: 80px}
.novo_endereco .todo_meio .sim_nao li { width:292px; height:193px; float:left; padding-right:95px; text-align:center}
.novo_endereco .todo_meio .sim_nao li p { text-align:left; color:#643801} 

.novo_endereco .categorias_aviso { background:url(../img/bg_categoria_aviso.jpg); width:301px; height:72px; margin-top:-6px;}
.novo_endereco .categorias_aviso p { color:#b0a84c; font-family:Georgia, serif; font-weight:bold; width:200px; padding:10px 0 5px 45px}
.asterisco { font-weight:bold; color:#d42182}


/* -- form contato -- */
.contato { background:url(../img/bg_form_contato.jpg) no-repeat; width:806px; height:565px}
.contato .titulo_contato { font-size:18px; font-weight:bold; font-style:normal; font-family:Arial, sans-serif; background:#000; color:#d513f2; margin-left:15px; padding:4px 10px; width:167px;}
.contato .text_contato { height:180px; padding:0 0 0 30px}
.contato .box_contato { width:362px; float:left; padding: 35px 0 0 10px}
.contato .box_contato p { font-size:14px}
.contato address { font-style:normal}

.form_contato { width:581px; height:376px; margin-left:20px; float:left }
.form_contato fieldset { padding:13px 23px 0 23px }
.form_contato li { margin-bottom:5px; overflow:auto;}
.form_contato label { font-family:Georgia, serif; font-size:16px; font-style:italic; color:#b8871f; display:block; float:left; margin:8px 0 10px 13px; _margin:8px 0 8px 7px;}
.form_contato .textfield { background:transparent; width:428px; font-weight:bold; height:20px; padding:5px 2px 2px 3px; margin:5px 0 0 0; _margin:10px 0 0 0; float:right }
.form_contato .textarea { background:transparent; width:428px; height:150px; padding:10px 2px 2px 3px; float:right; overflow:auto}
.form_contato .button { background:url(../img/contato_enviar.jpg); width:99px; height:31px; margin-right:4px; text-indent:-9999px; font-size:0.1em; cursor:pointer; float:right }

/* -- Identificacao -- */
.indentificacao_aviso { background:url(../img/bg_identificacao.jpg); width:313px; height:446px; margin-top:-6px;}
.indentificacao_aviso h3 { color:#e0c905; font-size:24px; font-family:Georgia, serif; font-style:italic; padding:40px 0 10px 30px }
.indentificacao_aviso p { color:#e3deba; padding:30px 10px 10px 30px }
.indentificacao_aviso p a { color:#FFF; font-size:14px; font-weight:bold; }
.content_form_login { background:url(../img/bg_login.jpg); width:419px; height:333px}
.content_form_login li, .digite_cep li { overflow:auto}

.digite_cep { background:url(../img/digite_cep.jpg) no-repeat; width:368px; height:278px; float:right}
.digite_cep ol { padding-top:120px}
.digite_cep .textfield { font-size:14px; font-weight:bold; color:#FFF; background:transparent no-repeat; width:250px; padding:25px 2px 15px 8px}
.digite_cep label { font-family:Georgia, serif; font-size:14px; font-style:italic; font-weight:bold; padding:0 18px 0 25px; float:left; margin-top:20px}
.digite_cep .button { color:#E1E4AB; text-indent:-9999px; font-size:1px; background:url(../img/bt_ok_cep.jpg) no-repeat; width:104px; height:65px; margin:15px 20px 0 0;  float:right; cursor:pointer}

.content_form_login p { padding:80px 25px 15px 65px}
.content_form_login .form_login { padding-left:50px}
.content_form_login label { font-family:Georgia, serif; font-size:14px; font-style:italic; font-weight:bold; padding-right:18px; float:left; margin-top:20px}
.content_form_login .form_login .textfield { font-size:14px; font-weight:bold; color:#FFF; background:url(../img/input_login.jpg) no-repeat; width:275px; padding:25px 2px 15px 8px}
.content_form_login .form_login .button { text-indent:-9999px; font-size:1px; background:url(../img/button_ok.jpg) no-repeat; width:104px; height:65px; margin-top:-5px; float:right; cursor:pointer}

/* --  -- */
.destaq_prod { background:url(../img/bg_destaq_exibicao.jpg) no-repeat left; width:581px; height:319px}
.destaq_prod img { margin:-4px; border:solid 4px #9e7f30; float:left; margin:21px 0 0 17px}
.numero_prod {  background:url(../img/numero_prod.jpg) no-repeat ; width:207px; height:42px; margin-top:10px; float:left}
.numero_prod span { font-family:Georgia, serif; font-size:30px; font-style:italic; color:#FFF; padding:0 0 0 30px;}
.destaq_prod p {font-family:Georgia, serif; font-size:18px; font-style:italic; color:#9a7929; width:161px; margin-left:30px; padding:25px 0 10px 0; float:left; border-bottom:dashed 1px #b19852}
.destaq_prod .fotos_prod { background:url(../img/bg_fotos_prod.jpg); width:204px; height:167px; float:left; margin-left:5px}
.destaq_prod .fotos_prod .content_fotos_prod { width:143px; margin:63px 0 0 38px }
.destaq_prod .fotos_prod .content_fotos_prod li { width:37px; height:26px; margin:5px; float:left; display:block; padding:0}
.destaq_prod .fotos_prod .content_fotos_prod li img { border:none; margin:-3px; border:solid 3px #43330c}


/* Titulo descricao */

.titulo_descricao { width:583px; height:61px; float:left; clear:both; margin:15px 0}
.titulo_descricao span { font:24px Georgia, serif; font-style:italic; color:#FFF; font-weight:bold; width:500px; height:61px; float:left; padding:20px 0 0 70px}
.green { background:url(../img/bg_titulo_verde.jpg) no-repeat}
.marinho { background:url(../img/bg_titulo_marinho.jpg) no-repeat}
.pink { background:url(../img/bg_titulo_pink.jpg) no-repeat}
.roxo { background:url(../img/bg_titulo_roxo.jpg) no-repeat}

.cardapio_interativo .list_lojas { width:120px; padding:10px 0 0 20px; float:left}
.list_caloria { margin-left:10px; clear:both; padding:0!important}
.list_caloria li { padding:3px 0 3px 20px}
.list_caloria li strong { margin-left:-20px}


/* -- -- */
.list_similares { padding-left:20px}
.list_similares li { display:inline}
.list_similares li img { border:3px solid #43330C; }

.delivery_exibicao { background:url(../img/delivery_bg_exibicao.png); width:202px; height:297px; margin-left:10px}
.delivery_exibicao .titulo_delivery_exibicao { font-family:Georgia, serif; font-size:18px; font-style:italic; font-weight:bold; color:#e0c905; padding:100px 0 0 22px; }
.delivery_exibicao .delivery_texto { color:#FFF; padding:0 0 0 22px; }
.delivery_exibicao .delivery_texto a  { font-weight:bold; color:#b0985b; display:block}

.tags_relacionadas { background:url(../img/bg_tag_relacionadas.jpg) no-repeat; width:239px; height:93px }
.tags { padding-left:40px}
.categorias .tags li { padding:0!important; width:0!important; display:inline; }
.tags li a { background-color:transparent!important; color:#9d8f32!important; font-family:Georgia, serif; font-style:italica; font-weight:bold;  padding:0!important}
.tags .tag_1 { font-size:12px!important}
.tags .tag_2 {font-size:14px!important}
.tags .tag_3 {font-size:18px!important}
.tags .tag_4 {font-size:24px!important}
.tags .tag_5 {font-size:30px!important}

.titulo_1pedido { font-size:18px; font-style:italic; font-weight:bold; padding:40px 0 }
.paragraph_1pedido { position:relative; z-index:1; color:#433007; width:400px; padding-bottom:10px; _width:350px /* Hack IE6*/ }
.destaque_1pedido { margin-top:40px; padding:10px 0; border-bottom:1px dashed #000; border-top:1px dashed #000}
.seta_cep { float:right}



/* -- Lista de lojas -- */
.list_lojas { width:307px}
.list_lojas li { padding:20px 0 0 10px;}
.list_lojas a {color:#593714; text-decoration:none; font-weight:bold; font-size:17px; background-color:#c8c081; padding:5px 8px}
.list_lojas a:hover, .list_lojas a:focus, .list_lojas a:visited { color:#d8a609; text-decoration:none; background-color:#36320f;}

.bg_text_lojas { background:url(../img/bg_text_lojas.jpg) no-repeat; width:400px; height:149px; float:right}
.bg_text_lojas .text_lojas { font-size:14px; font-weight:bold; font-style:italic; color:#593714; padding:41px 23px 5px 78px}

/* -- Ver produtos -- */
.text_ver_produtos { color:#2d1804}
.text_ver_produtos span { color:#7f5c1b; font-size:14px; font-weight:bold; font-style:italic; display:block; padding-bottom:20px}

.ver_pedidos_atualizar { background-color:#e3deae; height:110px; padding:10px; border-bottom:1px dashed #b3a25d;}
.space_lists { margin-top:30px}
.ver_pedidos_atualizar li { background:#e3deae; width:146px; float:left }
.ver_pedidos_atualizar .img_produto { background:url(../img/bg_prod_cardapio.jpg) no-repeat; width:145px; height:112px}
.ver_pedidos_atualizar .img_produto img { margin:20px 0 10px 15px; padding-bottom:5px}
.ver_pedidos_atualizar .nome_produto { font-family:Georgia, serif; font-weight:bold; font-style:italic; color:#211908; width:140px; display:block; padding-top:35px}
.ver_pedidos_atualizar .price { color:#7a5b10; display:block; padding:10px 0 0 10px; margin-top:10px}
.ver_pedidos_atualizar .price span { font-weight:normal}
.ver_pedidos_atualizar .textfield { color:#7a5b10!important; background-color:#e3db8f; width:52px; height:18px; padding:2px; margin:20px 10px 0 10px}
a.add_badeja { color:transparent!important; text-indent:-9999px; display:block; background:url(../img/add_na_bandeja.jpg) no-repeat; width:129px; height:49px; margin-top:15px;}

.ver_pedidos_atualizar .atualizar_qtd { color:#7a5b10!important;  background-color:#d3ce99; width:119px; height:111px}
.ver_pedidos_atualizar .botoes { width:80px; padding:15px 0 0 9px}
.ver_pedidos_atualizar .botoes img { display:block; padding-bottom:10px}

.total_pedidos { background:url(../img/bg_total_taxas.jpg) no-repeat; width:525px; height:140px; margin-top:20px; overflow:hidden}
.total_pedidos dl { width:150px; float:left}
.total_pedidos dd { padding:85px 0 0 50px }
.total_pedidos .first { padding:85px 0 0 40px }
.total_pedidos .last { padding:85px 0 0 65px }
.confirmar_pedido img { margin-left:150px}

.mapa_lojas { float:left}
.bg_text_mapa { background:url(../img/bg_text_mapa.jpg) no-repeat; width:276px; height:367px; float:right; padding-right:56px}
.bg_text_mapa h3 { color:#37342D; font-family:Georgia, serif; font-size:16px; padding:20px 0 35px 30px; visibility:hidden}
.bg_text_mapa p { color:#884B1C; padding:20px 0 0 35px}

.lojas_left { width:414px!important}
.lojas_right { width:414px!important}
.lojas_right .fotos_cardapio { background:url(../img/cardapio_lojas.jpg) no-repeat; width:387px; height:357px; float:right; margin-top:30px}
.fotos_cardapio ul { width:297px; padding:20px 0 0 13px}
.fotos_cardapio ul li { float:left; padding:3px 7px 3px 7px}
.fotos_cardapio img { border:4px solid #bab979}
.fotos_cardapio ol { width:310px; height:60px; padding-top:18px; float:left}
.fotos_cardapio ol li { float:left; margin-top:10px; padding:10px 10px 5px 10px}
.fotos_cardapio ol li a { display:block; font-size:16px; font-weight:bold; color:#9d9564}
.fotos_cardapio ol li.actual { background:#badd1e; color:#6e6230; font-size:24px; font-weight:bold; width:13px; height:26px; float:left; padding:0 5px; margin-top:12px; overflow:hidden}

.fotos_cardapio .anterior { margin:-1px 0 0 13px; margin-top /*\**/:8px\9; *margin:-1px 0 0 13px; padding:0 15px 0 0}
.fotos_cardapio .proxima { float:right; margin:-1px 15px 0 0; margin-top /*\**/:8px\9; *margin:-1px 15px 0 0; padding:0}
.fotos_cardapio .anterior a { display:block; text-indent:-9999px; background:url(../img/anterior.jpg) no-repeat; width:55px; height:47px;}
.fotos_cardapio .proxima a { display:block; text-indent:-9999px; background:url(../img/proxima.jpg) no-repeat; width:55px; height:47px; }

.colun_left .box dd { background:url(../img/bg_contato_loja.jpg) no-repeat; width:385px; height:247px; font-weight:bold}
.colun_left .box dd ul { padding-left:10px}

.fotos_loja { background:url(../img/bg_fotos_loja.jpg) no-repeat; width:445px; height:435px}
.foto_g { padding:38px 0 0 33px}
.mais_fotos_loja { padding:57px 0 0 35px}
.mais_fotos_loja li { float:left; padding:0 3px}
.mais_fotos_loja img { border:5px solid #FFF}


/* -- Footer -- */
.footer { background:url(../img/footer.jpg) no-repeat top; width:901px; height:147px; margin:0 auto; clear:both }
.footer strong { color:#FFEA00; font-weight:normal; display:block; padding-top:117px; padding-left: 230px; font-style: italic}